@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  color: #000;
}

.hero h1 {
  font-size: 60px;
  color: #1e293b;
  font-weight: 800;
}

/* Reusable container */
.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 16px;
}
